# Base de données
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/sensante?schema=public"

# Groq API (a venir)
GROQ_API_KEY="votre-cle-groq-ici"

# NextAuth (a venir)
NEXTAUTH_SECRET="un-secret-aleatoire"
NEXTAUTH_URL="http://localhost:3000"
